@page "/About"

<h3>About</h3>
<body>
    EVE Abacus is a service for the MMORPG EVE Online, by CCP. 
    <br />
    It's intent is to aid in manufacturing, exploration, and other industry in a streamlined efficient manner.
    <br />
    EVE Abacus began as an excel spreadsheet, then a command script using a self-hosted SQL server, and has evolved to what you see here today.
    It's built in a Clean Web Architecture framework using Blazor Interactive Server as the presentation layer. 
    <br />
    If you have any input, please
    <a href="mailto:MisfitInitiative@gmail.com">email me here</a>
    <br />
    <hr />
    <CopyrightDisclaimer/>
</body>

