<h4>Legal</h4>
    EVE Online and its associated logos are registered trademarks of CCP hf., with all rights reserved worldwide.
    Any other trademarks mentioned are the property of their respective owners.
    The intellectual property of CCP hf. includes EVE Online, its logos, artwork, screenshots, characters, vehicles, storylines, world details,
    and other recognizable elements.
<br />
    CCP hf. has granted EVE Abacus permission to use EVE Online assets for informational and promotional purposes on this website. However,
    CCP hf. does not endorse and is not affiliated with EVE Abacus. CCP hf. is not responsible for this website’s content, functionality,
    or any potential issues arising from its use.
