@page "/"

<PageTitle>EVE Abacus</PageTitle>

<h1>EVE Abacus</h1>

<p>EVE Abacus is a third party tool designed for the MMORPG EVE Online made by CCP Games. 
The purpose of this application is primarily for manufacturing and invention, though it is built in such a way to expand over time.</p>

<p> As of this time, the application is in an incomplete state and is under heavy development and bugs may be present. 
    Please confirm all information obtained in this application is correct with your own calculations.</p>

    <hr />

<h5>~Chris/Arktoh/Misfit Initiative</h5>


rev 0.5.19.25.17.00