@page "/Support"

<h3>Support</h3>

<p> Want to support EVE Abacus's creator? Here's how you can help! Follow Arktoh's Socials, and/or send isk to Daereius in game!</p>

<div>
    <a href="https://www.twitch.tv/arktoh">Twitch</a>
</div>

<div>
    <a href="https://www.youtube.com/@@arktoh">YouTube</a>
</div>

@code {

}
