@* @page "/swagger"
@rendermode InteractiveServer
@layout Components.Layout.MainLayout

<h3>EVE Abacus API Documentation</h3>

<iframe src="/swagger/index.html" width="100%" height="800px" style="border: none;"></iframe> *@

@page "/swaggerComp"
@layout Components.Layout.MainLayout

<MudContainer>
    <MudPaper Elevation="3" Class="pa-4 d-flex flex-column" MinHeight="600px" MaxHeight="600px">
        <h3>EVE Abacus API Documentation</h3>
        <iframe src="/swagger-ui/index.html" style="width: 100%; height: 100%; flex-grow: 1; border: none"></iframe>
    </MudPaper>
</MudContainer>
@* 
@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadSwagger();
        }
    }

    private async Task LoadSwagger()
    {
        await JS.InvokeVoidAsync("loadSwaggerUI");
    }

    [Inject] private IJSRuntime JS { get; set; } = default!;
} *@

