@implements IDisposable
@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">EVEAbacus</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <i class="fa-solid fa-right-to-bracket" style="color: #059669;">
                <DarkModeSwitch ToggleDarkModeEvent="ToggleDarkMode" />
            </i> 
        </div>
        <div class="nav-item px-3">
            <MudNavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </MudNavLink>
        </div>
        <div class="nav-item px-3">
            <MudNavLink class="nav-link" href="piCalc">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> PI Planet Explorer
            </MudNavLink>
        </div>
        <div class="nav-item px-3">
            <MudNavLink class="nav-link" href="manufCalcUI2">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Industry Calculator
            </MudNavLink>
        </div>
        <div class="nav-item px-3">
            <MudNavLink class="nav-link" href="inventionSuggestion" >
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Invention Suggestions
            </MudNavLink>
        </div>
        <div class="nav-item px-3">
            <MudNavLink class="nav-link" href="swaggerComp" >
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Swagger UI
            </MudNavLink>
        </div>
        <div class="nav-item px-3">
            <MudNavLink class="nav-link" href="Support">
                <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Support the Creator
            </MudNavLink>
        </div>
    </nav>
</div>

@code {
    private string? currentUrl;
    [Parameter] public EventCallback ToggleDarkModeEvent { get; set; }
    void ToggleDarkMode() => ToggleDarkModeEvent.InvokeAsync(); 

    protected override void OnInitialized()
    {
        try {
            currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
            NavigationManager.LocationChanged += OnLocationChanged;
        }
        catch (Exception error)
        {
            Debug.WriteLine("OnInitialized Failure: " + error);
        }
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        try{
            currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
            StateHasChanged();
        } catch (Exception error){
            Debug.WriteLine("OnLocationChanged Failure: " + error);
        }
    }

    public void Dispose()
    {
        try
        {
            NavigationManager.LocationChanged -= OnLocationChanged;
        }
        catch (Exception error)
        {
            Debug.WriteLine("Dispose Failure: " + error);
        }
    }
}