[Unit]
Description=EVE Abacus Next.js Frontend
After=network.target

[Service]
WorkingDirectory=/var/www/eveabacus/frontend
ExecStart=server.js
Restart=always
RestartSec=10
SyslogIdentifier=eveabacus-frontend
User=www-data
Environment=NODE_ENV=production
Environment=PORT=3000

[Install]
WantedBy=multi-user.target 