@using EVEAbacus.Domain.Models.Calculator

<CascadingValue Value="CalculatorService">
    <MudContainer Class="d-flex flex-column" Style="height: 75dvh; max-height: 75dvh; overflow-y: hidden;">
        <MudPaper Class="flex-grow-1 overflow-y-auto pa-4" Style="height: 100%;">
            <div style="display: flex; flex-direction: column; align-items: center;">
                <MudStack Spacing="2">
                    @foreach (var order in CalculatorService.Orders)
                    {
                        <MudPaper Elevation="2" Class="pa-2" Style="width: clamp(125px, 35vw, 200px);">
                            <OrderCard Order="order" OnValidEvent="OnChangedOrders" />
                        </MudPaper>
                    }
                </MudStack>
            </div>
        </MudPaper>
    </MudContainer>
</CascadingValue>

@code {
    [CascadingParameter] required public CalculatorService CalculatorService { get; set; }
    [Parameter] public EventCallback OnValidEvent { get; set; }

    private async Task OnChangedOrders()
    {
        await OnValidEvent.InvokeAsync();
    }
}
